/*

  style.css

  Contains all styles required for the them, including some common reset, font 
  normalization and some base styles.

  Heavily based on HTML5 Boilerplate: http://html5boilerplate.com/

  If you're wanting add your custom changes, you might like to skip down to the
  "Custom Styles" section towards the end of the file. If you wish, you can also
  ditch the lot and start from scratch.

*/

/*

  Section: Reset
  Notes:   Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  Version: v1.4 2009-07-27
  Authors: Eric Meyer & Richard Clark
  See:     html5doctor.com/html-5-reset-stylesheet/

*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;  background:transparent; }
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
/*

  Section: Basic Tag Styles
  Notes:   Set some very basic adjustments on tag styles

*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
body, select, input, textarea { color:#333; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
::-moz-selection{ background: #FFF58F; text-shadow: none; }
::selection { background:#FFF58F; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FFF58F; }
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; }
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after, #rt-nav:after, .rt-container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix, .rt-container { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix, .rt-container { display: block; }
/*

  Section: CSS3, Please!
  Notes:   Provide some helpful CSS3 classes for shodows, rounded borders etc...
  See:     http://css3please.com/

*/
.box_round, pre, #rt-header, #rt-footer, button, input[type=text], input[type=password], textarea, .rt-gallery img, img.left, img.right, .rt-shop-product-promotion, p.error, p.success, p.notice { -moz-border-radius: 5px; /* FF1+ */ -webkit-border-radius: 5px; /* Saf3-4 */ border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */ }
.box_shadow, #rt-header, #rt-footer, button { -moz-box-shadow: 0px 0px 6px #CCC; /* FF3.5+ */ -webkit-box-shadow: 0px 0px 6px #CCC; /* Saf3.0+, Chrome */ box-shadow: 0px 0px 6px #CCC; /* Opera 10.5, IE 9.0 */ }
.box_gradient { background-color: #EFEFEF; background-image: -moz-linear-gradient(top, #EFEFEF, #CCCCCC); /* FF3.6 */ background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EFEFEF),color-stop(1, #CCCCCC)); /* Saf4+, Chrome */ filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#EFEFEF', EndColorStr='#CCCCCC'); /* IE6,IE7 */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EFEFEF', EndColorStr='#CCCCCC')"; /* IE8 */ }
.box_textshadow { text-shadow: 1px 1px 3px #888; /* FF3.5+, Opera 9+, Saf1+, Chrome */ }
/*

  Section: Custom Styles
  Author:  Piers Warmers <piers@wranglers.com.au>
  Notes:   Good initial styles for common elements. Feel free to customise.

*/
body { min-width: 960px; font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; text-align: center; }
a:focus { outline: 1px dotted }
hr { border: 0 #ccc solid; border-top-width: 1px; clear: both; height: 0 }
h1 { font-size: 25px; border-bottom: 2px solid #CCC }
h1 span { float:right; color:#CCC }
h2 { font-size: 23px }
h3 { font-size: 21px }
h4 { font-size: 19px }
h5 { font-size: 17px }
h6 { font-size: 15px }
ol { list-style: decimal }
ul { list-style: disc }
ul ul, #rt-nav ul ul  { list-style: circle; margin-left:10px; margin-bottom:0; }
dt { font-weight:bold; }
label { font-weight:bold; }
li { margin-left: 15px }
button { padding: 5px 10px; border: solid 1px #999; color: #333; background:#EFEFEF; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; text-shadow: 0px 1px 1px rgba(255,255,255,1); }
table { border:1px solid #CCC; width:100%; border-collapse: collapse; }
td,th { border:1px solid #CCC; padding: 5px; }
th { background:#EFEFEF }
code { background:#EFEFEF }
input[type=text], input[type=password], textarea { border: 1px solid #999; outline: none; padding:5px; background:url(../img/input-bg.png) 0 0 no-repeat; }
#rt-body input[type=text], #rt-body input[type=password] { width: 200px; }
textarea { width: 400px; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border: 1px solid #333; }
pre { padding: 20px; overflow: auto; background: #EFEFEF; border: 1px solid #CCC !important; font-family: courier, monospace !important; overflow: auto; white-space: pre }
p,pre,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset { margin-bottom: 20px }
#rt-container { width: 960px; margin: 0 auto; text-align: left; background: url(../img/border.png) 668px 0 repeat-y; }
#rt-header { text-align: center; text-shadow: 2px 2px 0 #FFF; font-size: 30px; background:#EFEFEF; font-weight: bold; color: #999; line-height: 80px; margin-bottom: 40px; border: 2px solid #CCC; border-top:0;-moz-border-top-left-radius: 0;-webkit-border-top-left-radius: 0;border-top-left-radius: 0;-moz-border-top-right-radius: 0;-webkit-border-top-right-radius: 0;border-top-right-radius: 0;}
#rt-header a { color: #999; text-decoration: none; }
#rt-nav { width: 290px; float: right; padding-bottom:20px; }
#rt-nav p, #rt-nav ul, #rt-nav dl, #rt-nav h2 { margin: 0 0 20px 40px }
#rt-body { float:left; width: 630px; position: relative; }
#rt-header,#rt-footer,h1,h2,h3,h4,h5,h6,.rt-shop-product-promotion  { font-family: 'Yanone Kaffeesatz','Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; }
#rt-footer { text-align: center; clear:both; padding-top:20px; margin:40px 0; background: #EFEFEF; border: 2px solid #CCC; }
#rt-footer a { text-decoration: none; color: #999; }
#rt-footer ul { margin-left: 0; padding: 0; list-style: none }
#rt-footer li { display: inline; margin: 0 0 0 20px; padding: 0; }
.rt-admin-edit-tools-trigger { display: none }
img.left { float:left; margin: 0 20px 10px 0; }
img.right { float:right; margin: 0 0 10px 20px;  }
.rt-search ul, .rt-search li { list-style: none; margin-left:0; }
#rt-body input.rt-text-small { width:50px; }
/*

  Section: Pagination

*/
.rt-pager {text-align:center;}
.rt-pager ul {list-style-type:none;margin:0;padding:0;}
.rt-pager ul li, .rt-pager ul li ul {display:inline;}
.rt-pager ul .pager-previous-page, .rt-pager ul .pager-first-page {float:left;}
.rt-pager ul .pager-next-page, .rt-pager ul .pager-last-page {float:right;text-align:right;}
.rt-pager a { margin:0 3px;text-decoration:none;}
.rt-pager .pager-first-page a {margin-left:0;}
.rt-pager .pager-last-page a {margin-right:0;}
.rt-pager .here a {color:#CCC;text-decoration:none;cursor:default;}
/*

  Section: Forms

*/
.rt-container label { display: block;  float: left; text-align: left;  }
.rt-container .help { padding-left: 9em; color: #aaa; }
.rt-container td .help { padding-left: 0; }
/*

  Section: Simple Feedback

*/
.error { margin:0;padding:0;background:none;border:0; }
ul.error_list, .error_list li { margin:0;padding:0;display:inline;list-style: none;font-weight:normal; }
span.error, span.success, span.loading { font-weight:bold; background-color:transparent; background-position: 0 50%; background-repeat: no-repeat; border:none; padding:0 0 0 20px; }
span.loading { background-image: url(../img/loader.gif); }
span.error { background-image: url(../img/cross.png); color: red; }
span.success { background-image: url(../img/tick.png); color: green; }
p.error, p.notice, p.success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
p.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
p.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
p.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
/*

  Section: Tag Cloud

*/
.tag-cloud {margin-left:0;padding:0;}
.tag-cloud li {display:inline;list-style-type:none;margin:0;padding:0;}
.tag-cloud big {font-size:14px;}
.tag-cloud big big {font-size:16px;}
.tag-cloud small {font-size:10px;}
.tag-cloud small small {font-size:8px;}
/*

  Section: Product Mini

*/
.rt-shop-product-mini { width: 190px;float:left;margin-right:10px;position:relative;margin-bottom:10px;}
.sfWebDebugActionCache .rt-shop-product-mini {margin-right:9px;}
.rt-list-item-3 .rt-shop-product-mini, .rt-list-item-6 .rt-shop-product-mini, .rt-list-item-9 .rt-shop-product-mini, .rt-list-item-12 .rt-shop-product-mini, .rt-list-item-15 .rt-shop-product-mini {margin-right:0;}
.rt-shop-product-mini div.rt-shop-product-mini-image { width: 190px; height:210px; text-align: center; border-bottom:1px solid #ccc;}
.rt-shop-product-mini div.rt-shop-product-mini-details { padding:10px 0 10px 10px; }
.rt-shop-product-mini h3 { font-size: 19px; margin-bottom:0; }
.rt-shop-product-mini .rt-shop-product-price {  font-size:1em; margin-bottom:0; }
.rt-shop-product-mini a { text-decoration:none; font-weight: bold; }
span.rt-shop-product-promotion{position:absolute;top:0;right:0;background:orange;color:#fff;padding:5px;}
/*

  Section: Product display

*/
.rt-shop-product-gallery {float:left;position:relative;width:200px;}
.rt-shop-product-primary-image { height:250px; text-align: center; padding-top:10px;width:200px;}
.rt-shop-product-image-thumbs div {border:1px solid #CCC;cursor:pointer;float:left;margin-bottom:10px;margin-right:5px;}
.rt-shop-product-image-thumbs span {display:table-cell;height:75px;text-align:center;vertical-align:middle;width:55px;}
.rt-shop-product-details { float:right; width:380px; }
.rt-shop-product-price {font-size:120%;font-weight:bold;}
.rt-shop-item-quantity input {width:50px; margin:0;}
.rt-shop-selection-group strong, .rt-shop-item-quantity label {display:block;position:relative; top:0.4em;float:left;width:100px; padding:0 0 5px 0;margin:0; }
/*

  Section: UI overide

*/
.ui-buttonset {float:left;margin:0;width:370px;}
.ui-buttonset label { border:2px solid #FFF;-moz-border-radius:5px; -webkit-border-radius:5px; background-repeat: no-repeat; }
.ui-buttonset label.image-swatch {background-repeat:no-repeat !important;}
.ui-buttonset label.image-swatch span {background-color:#E6E6E6;margin:0 0 0 30px;padding-left:6px;-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-bottomleft:0;}
.ui-buttonset .ui-state-active {border:2px solid #7d7d7d;}
.ui-button-text-only .ui-button-text {padding:0.28em 1em;}
.ui-buttonset .ui-button { margin:0;}
.ui-buttonset .ui-button span {float:left;-moz-border-radius:5px; -webkit-border-radius:5px;}
.ui-buttonset .ui-state-active {background:#DADADA;}
.ui-buttonset .image-swatch span { background-position: 50% 50%; padding-left:0; }
.ui-buttonset label.ui-state-disabled {color:#555;display:none!important;}
.ui-buttonset label.ui-state-disabled span {display:none;}
.ui-state-default { background-image: none;}
.ui-helper-hidden-accessible {position:absolute!important;} /*don't remove this important! blueprint overrides otherwise this UI style */
/*

  Section: Breadcrumb

*/
.rt-shop-order-breadcrumb {list-style-type:none;background:#E9E9E9;margin-left:0;}
.rt-shop-order-breadcrumb li a {text-decoration:none;color:#8E8E8E;}
.rt-shop-order-breadcrumb li.past a {color:#FFF;}
.rt-shop-order-breadcrumb li {color:#999;background-color: #E9E9E9;background-repeat: no-repeat; background-position: 100% 50%; background-image: url(../img/arrow-default.png);float:left;font-size:0.9em;font-weight:bold;line-height:1.8em;padding:0 18px 0 10px;margin-left:0;}
.rt-shop-order-breadcrumb li.here {color:#CCC;background-color:#6C6C6C;background-image: url(../img/arrow-here.png);}
.rt-shop-order-breadcrumb li.past {background-color:#6C6C6C;background-image: url(../img/arrow-past.png);}
/*

  Section: Shopping Process

*/
.rt-tools button { float:right; }
.rt-shop-cart-total { background: #EFEFEF; font-weight:bold; }
/*

  Section: Print Styles

*/
@media print {
  * { background: transparent !important; color: #333 !important; text-shadow: none; }
  a, a:visited { color: #333 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
/*

  Section: Mobile Devices, Portrait Mode

*/
@media all and (orientation:portrait) {

}
/*

  Section: Mobile Devices, Landscape Mode

*/
@media all and (orientation:landscape) {

}
/*

  Section: Grade-A Mobile Browsers

*/
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

